{% extends "template.html" %}
{% block conteudo %}

<div class="card">
  <h5 class="card-header">Cadastro/Publicação</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-12 " style="text-align:right;">
        <a href="/usuario/cadastro" type="button" class="btn btn-primary" >Novo Usuário</a>
      </div>
    </div>
    
    <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">E-mail</th>
            <th scope="col">Telefone</th>
            <th scope="col">Status</th>
            <th scope="col">Observação</th>
            <th scope="col" style="text-align: right;">Ação</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in lista %}
    
          <tr>
            <th scope="row"> {{usuario.id}}</th>
            <td> {{usuario.tipo}}</td>
            <td> {{usuario.nome}}</td>
            <td> {{usuario.cpf}}</td>
            <td> {{usuario.email}}</td>
            <td> {{usuario.telefone}}</td>
            <td> {{usuario.status}}</td>
            <td> {{usuario.observacao}}</td>
            <td>
              <div class="btn-group" style="text-align: right;">
                <a href="/usuario/cadastro/{{usuario.id}}" type="button" class="btn btn-warning" >Alterar</a>
                <a onclick="Excluir('{{usuario.id}}')" data-id="{{usuario.id}}" type="button" class="btn btn-danger" >Excluir</a>
              </div>
            </td>
    
          </tr>
    
            {% endfor %}
    
        </tbody>
      </table>
    
  </div>
</div>


  <script src="{{url_for('static', filename='usuario.js')}}"></script>

  {% endblock %}