{% extends "template.html" %}
{% block conteudo %}

<div class="card">
  <h5 class="card-header">Empréstimo</h5>
  <div class="card-body">

    <form method="POST" action="/autor/cadastro" class="row g-3">
    
      <div class="row">
        <div class="col-md-3">
          <label for="autor" class="form-label">Autor</label>
          <select class="form-control" name="idAutor" id="idAutor">
            <option value="">--Todos--</option>
            {% for item_ in listaAutores %}
              <option value="{{item_.id}}">{{item_.nome}}</option>
            {% endfor %}
        </select>
        </div>

      <div class="col-md-2">
        <label for="categoria" class="form-label">Categoria</label>
        <select class="form-control" id="idCategoria" name="idCategoria">
          <option value="">--Todos--</option>
          {% for item_ in listaCategoria %}
            <option value="{{item_.id}}">{{item_.nome}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-md-3">
        <label for="editora" class="form-label">Editora</label>
        <select class="form-control" id="idEditora" name="idEditora">
          <option value="">--Todos--</option>
          {% for item_ in listaEditora %}
            <option value="{{item_.id}}">{{item_.nome}}</option>
          {% endfor %} 
        </select>
      </div>

    <div class="col-md-2">
      <label for="status" class="form-label">Status</label>
      <select name="status" class="form-control">
        <option value="">--Todos--</option>
        <option value="0">Pendente</option>
        <option value="1">Disponível</option>
      </select>
    </div>
    
      <div class="col-md-2">
        <br/>
        <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
    </div>

    </form>   

    <hr/>

    <table class="table table-striped table-bordered">
        <thead>

          <tr>
            <th scope="col">#</th>
            <th scope="col">Data do empréstimo</th>
            <th scope="col">Data agendada Devolução</th>
            <th scope="col">Data Efetiva Devolução</th>
            <th scope="col">Status</th>
            <th scope="col">Publicação</th>
            <th scope="col" style="text-align: right;">Ação</th>
          </tr>
        </thead>
        <tbody>
          {% for item in lista %}
    
          <tr>
            <th scope="row"> {{item.id}}</th>           
            <td> {{item.dataEmprestimo}}</td>
            <td> {{item.dataAgendadaDevolucao}}</td>
            <td> {{item.dataEfetivaDevolucao}}</td>

            {% if item.status == 0 %}
              <td> Pendente</td>
            {% else %}
               <td> Entregue</td>
            {% endif %}

            <td>
              <div>
                <table class="table">
                {% for exemplar in item.listaExemplares %}
                    <tr><td>{{exemplar.publicacao.titulo}}</td></tr>
                {% endfor %}
                </table>
              </div>
            </td>
    
            <td style="text-align: right;">
              <div class="btn-group" >
                <a href="/emprestimo/cadastro/{{item.id}}" type="button" class="btn btn-warning" >Alterar</a>
                <a onclick="Excluir('{{item.id}}')" data-id="{{item.id}}" type="button" class="btn btn-danger" >Excluir</a>
              </div>
            </td>
    
          </tr>
    
            {% endfor %}
    
        </tbody>
      </table>
  </div>
</div>

  <script src="{{url_for('static', filename='emprestimo.js')}}"></script>
  
  {% endblock %}